*{
    padding: 0%;
    margin: 0%;

}
.first{
    width: 200%;
}
.container{
    display: flex;
    justify-content: center;
    gap:  30px;
    margin-bottom: 40px;
    margin-top: 10%;
    flex-direction: column;
    margin-left: 30%;
    background-color:gray;
    width: 50%; 
    padding: 60px 60px;
    border-radius: 20px;
    margin-left: 1px;
    box-shadow: 0px 0px 10px -px black;

}
.btn{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-right: 50%;
}
H1{
    margin-left: 35%;
    font-family: cursive;
}
.container button{
    width: 20%;
    height: 70px;
    font-size:  30px;
    border:  3px solid black;
    position: relative;
    
}
.btn1{
    background-color:  red;
}
.btn2{
    background-color:  rgb(0, 255, 76);
}
.btn3{
    background-color:  rgb(76, 0, 255);
}
.btn4{
    background-color:  rgb(255, 0, 106);
}

.btn5{
    background-color: orange;
}
.btn6{
    background-color: brown;
}
.btn7{
    background-color: blueviolet;
}
.btn8{
    background-color: chocolate;
}


